*{
    margin:0;padding:0;
}
.heading-container{
    width:100%;
    background-color:orange;
}
.heading-text{
    padding:40px;
    text-align: center;
}
.heading-text h1{
    color:white;
    font-size:40px;
    font-weight: bold;
}
.heading-text p{
    color:white;
    font-size:25px;
}
.slider{
    background: silver;
}
.slider-content{
    width:100%;
    height: 200px;
    text-align:center;
    padding-top:12%;
}